



/* ---------------- load fonts ---------------- */
@font-face {
  font-family: 'Archivo', sans-serif;
  src: url(../assets/_font/Gilroy_ExtraBold.otf);
}
/* ---------------- normalize ---------------- */
*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: 'Archivo', sans-serif;
  line-height: 1.6;
  color: #222;
  font-size: 16px;
  font-size: calc(12px + .3vw);
  overflow-x: hidden;
}
@media (max-width: 2000px ) {

  html, body{
    font-size: 16px;
    font-weight:400;
  }

a{
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: .2s opacity ease;
  cursor: pointer;
}
.lofi1{
  margin-top:3%;
  display: inline;
    margin-right:2%;
  width:49%;
}

.lofi2{
  margin-top:3%;
  float:right;
  display: inline;
  width: 49%;
}

#moodboard{
margin-left: 10%;
margin-right: 10%;
padding-left: 10%;
padding-right: 30%;
}

#subTitle{
font-weight:bolder;
font-size:20px;

}

#brandaudit{
  margin: 3% 10% 3% 3%;
  padding-left:10%;
  padding-right: 18%;

}

#introduction{
  margin-right:3%;
    margin-left:6%;
  margin-top:7%;
  padding-top: 5%;
}
.contact:hover {
    text-decoration: none;
    opacity:1;
    color:#ffe593;
}


#about{
margin-left:6%;
margin-top:4%;
width: 37%;
height:auto;
}

.inVision{
text-align: center;
}


#caseStudy1 .screenShot{
width: 60%;
height: auto;
float:right;
margin-top:.4em;
margin-left:.02em;
 /* border-radius: 5%; */
shape-outside: margin-box;
}

.icons{
  display: block;
  text-align: center;
  margin: 4% 26% 0 26%;
  padding-top:4%;
}
.icon{
  margin: 0 5% 0 5%;
  display: inline-block;
  width: 7%;
  max-width: 100%;
  text-align: center;
}

#mobileContact{
  text-align: center;
  display:block;
  margin-top: 6%;
  padding-bottom: 10%;
margin-bottom: 0;
text-transform: uppercase;
font-size: 1.5em;
font-weight:bolder;
font-family:'Archivo', sans-serif;
}
.project1{
    display: none;
}
.project2{
    display: none;
}
.project3{
    display: none;
}
.project4{
    display: none;
}
.project5{
    display: none;
}

.colorName{
color:#005EFE;
}
#email{

  text-align: center;
  font-weight: 400;
letter-spacing: 0.02em;
font-size: 18px;
}

#ft{
  font-weight:400;
  font-size: 13px;
  letter-spacing: 0.000em;
}

#mobileText{
display: none;
}

.mobileBurger{
display:none;
}

.home-intro{
  /* padding: 240px 0 8% 1.9%; */
  padding: 2rem 4% 20% 4%;
  position: relative
}


/* Typing */
.typeContainer {
	/* height: 100px; */
	margin-bottom: .2em;
  font-size: 2.3em;
  margin-left:0%;
}

.typed-cursor {
	display: none;
}

/* draw border */
.draw-border {
  box-shadow: inset 0 0 0 2px #005EFE;
  color: #005EFE;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  opacity: .8;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 400 1.2rem 'Archivo', sans-serif;;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  color: #005EFE;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

.drawBorder{
  padding-bottom: 20%;
  padding-top: 10%;
}
.drawBorder1{
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  float: left;
}
.drawBorder2{
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
 float: right;
}

.mobiledescription{
  display:none;
}


/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color:#F4AC90; width:100%; padding-top:15px; padding-bottom:15px;
  font-family: 'Archivo', sans-serif;
  font-size: 15pt;
}

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF8469;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color:#5C7EAD;width:100%; padding-top:15px; padding-bottom:15px;
  font-family: 'Archivo', sans-serif;
  font-size: 15pt;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #003889;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* footer */
.footer-home-backward{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #995044;
    line-height: 32px;
    /* margin-top: 0px; */
    margin-bottom: 0px;
}
.footer-home-forward{
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    color: #0C172D;
    line-height: 32px;
    /* margin-top: 0px; */
    margin-bottom: 0px;
}
.footer-Home-title{
   text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #222222;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0px;

}

.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

p {
  font-family: 'Archivo', sans-serif;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  letter-spacing:0.04em;
  line-height: 2em;
  hyphens: none;
  -webkit-font-smoothing: antialiased;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

video, img{
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;

}
.-content-width{
      width:100%;
      padding: 0 20%
}

.section-title{
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  color: #222;
  text-align: left;
  letter-spacing: 0em;
  margin: 2em 0em 1em 0em;
  font-weight: bolder;
  text-transform: capitalize;
}



img[src="../assets/credible_cosigner/xinno1.png"]{
  display: block;
  margin-left: 0% ;
  width: 100%;
}

img[src="../assets/credible_cosigner/colorPalette.png"]{
  display: block;
  margin-right: 10% ;
  width: 100%;
}

img[src="../assets/credible_cosigner/signatureboard.png"]{
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;

}

img[src="../assets/credible_cosigner/namebadges.png"]{
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 5%;
}

img[src="../assets/credible_cosigner/led1.png"]{
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 5%;
}

img[src="../assets/credible_cosigner/led2.png"]{
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 5%;
}

.viewButton{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.UXImage{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.inVision{
  margin: auto 0;
}

.column-content{
  margin-right: 2%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
}

.unorderedList{
    font-family: 'Archivo', sans-serif;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 2em;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222222;
    font-size: 16px;
}

ul{
      font-weight: 300;

}

.unorderList{
  font-family: 'Archivo', sans-serif;
  color: #222222;
  font-size: 17px;
  font-weight: normal;
  letter-spacing:.04em;
  line-height: 2em;
}


{box-sizing: border-box;}
.mySlides {display: inline-block;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 2rem;
  margin: 0 auto;
}

/* Caption text */
.text {
  color: #222222;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: inherit;
  bottom: 8px;
  width: 100%;
  text-align: inherit;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}


/* ---------------- helper ---------------- */

._body-width{
  width: 90%;
  max-width: 1280px;
  padding: 0 60px;
  margin: 0 auto;
}

._gilroy-title{
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.js-img-preview{
  cursor: pointer;
}

._primary-link{
  display: inline-block;
   position: relative;
   z-index: 1;
  margin: 8px 0;
  color: #005EFE;
  font-weight: bolder;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-size: 1.2em;
}

._primary-link:hover {
    text-decoration: none;
    opacity:1;
    color:#ffe593;
}


._primary-link:after{
  content: '>';
  padding-left: 5px;
}
.resume{
  display: inline-block;
   position: relative;
   z-index: 1;
  margin: 8px 0;
  color: #005EFE;
  font-weight: bolder;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-size: 1.2em;
}

.resume:hover {
    text-decoration: none;
    opacity:1;
    color:#ffe593;
}


.resume:after{
  content: ' >';
  /* padding-left: 5px; */
}



/* ---------------- site header ---------------- */
.header{
  display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
    padding: 0 1.5rem;
}

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  transition: box-shadow .5s ease
}

.site-header > .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px 60px;
  transition: padding .5s ease;
}

.logo-link{
  display: block;
  width: 50px;
  transition: width .5s ease
}

.logo-link > img{
  width: 100%;
  vertical-align: middle;
}

.site-nav{
  font-family: 'Archivo', sans-serif;
  /* text-transform: uppercase; */
  font-size: 1.1em;
  letter-spacing: 0.2em;
  font-weight: normal;
  color:#005EFE;
}

.site-nav > .item{
  font-family: 'Archivo', sans-serif;
  display: inline-block;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  /* font-weight: bolder; */
  margin: 8px 20px;
  text-decoration: none;
}
.site-nav > .item:hover {
    text-decoration: none;
    opacity:1;
    color:#ffe593;
}

.site-header.-collapse{
  /* display:block; */
  text-shadow: none;
  box-shadow: 0 0 5px #ddd;
  background: #fff
}

.site-header.-collapse > .container{
  padding: 8px 60px;
}

.site-header.-collapse > .container > .logo-link{
  width: 30px;
}

/* ---------------- page banner -------------------- */

.page-banner{
    text-align: center;
    position: relative;
    padding: 80px 0px 0px 0px;
}

.page-banner > .bg{
  width: 100%;
  max-width: 2000px;
}

.page-banner > .content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 60%);
          transform: translate(0, 60%);
  margin: 0 auto;
  padding: 60px 50px 20px;
}

.page-banner > .content > .small-title{
  color: #005EFE;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 5px;
}

.page-banner > .content > .big-title{
  text-transform: uppercase;
  font-size: 2em;

  font-weight: 400;
}

.page-banner > .content > .more{
  font-size: .9em;
  width:60%;
}
.more{
width:100% !important;
margin-top:1.5% !important;
margin-bottom:0 !important;
}
.projectName{
  font-size: 2.5em;
  font-weight: 400;
  margin: 18% 0% 0% 0%;
  color:#222222;
  font-weight:bold;
  font-stretch: semi-expanded;
}

.projectDescription{
  font-size: 2em;
  font-weight: 400;
  margin:0% 0% 0% 0%;
  color: #bababa;
  font-weight:lighter;
  font-stretch: semi-expanded;

}
/* ---------------- site footer ---------------- */

.site-footer{
  margin: 20px 10px 30px;
  text-align: center;
  font-size: .8rem;
}

/* ---------------- image preview ---------------- */

.image-preview-container{
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 20;
    cursor: pointer;
    display: none
}

.image-preview-container:after{
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-image: url(/assets/icon-close.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .95;
}

.image-preview-container > .image{
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  margin: auto;
  max-width: 600px;
}


.intro{
    padding: 15rem 0% 0% 0%;
}

.home-intro > .title{
  font-size: 2.5em
}

.home-intro > .title:after{
  display: block;
  content: '';
  width: 150px;
  height: 3px;
  margin: 10px 0;
  background: #005EFE
}

.description{
  margin: 0;
  font-size: 1.4em !important;
}

.home-project{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-flow: row-reverse; */
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  /* padding-top: 12em; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  order: -1;
}

#projectOrder{
  flex-flow: row-reverse;
}


.home-project:nth-child(even) > .home-project-content{
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.home-project > div{
  margin-top: 25%;
  -webkit-box-flex: 1;
          flex: 1 0 50%;
  width: 40%;
  /* margin-right:5%; */
  padding: 30px 20px 16px 20px;
}

.home-project p{
  margin: 0;
  font-size: 18px
}


.home-project-content > .type{
  font-family: 'Archivo', sans-serif;
  font-size: 1.2em;
  color: #005efe;
  letter-spacing: .03em;
  /* text-transform: uppercase; */
  font-weight: bolder;
}

.home-project-content .title{
  font-family: 'Archivo', sans-serif;
  font-size: 1.3em;
  line-height: 1.2
}




.home-project-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em
}

/* .home-project-info:before{
  display: block;
  content: '';
  width: 120px;
  height: 3px;
  margin: 20px 0;
  background: #005EFE;
  -webkit-box-flex: 1;
          flex: 1 0 15%;
  margin-right: 10px;
  margin-top: 14px
} */

.home-project-preview {
  position: relative;
  text-align: center;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease
}

.home-project-preview > .frame,
  .home-project-preview > .frame-shadow{
  position: absolute;
  left: 50%;
  z-index:-1;
}

.home-project-preview > .frame-shadow{
  opacity: 0;
  transition: opacity.5s ease;
  z-index:-1;
}

.home-project-preview > .screen{
  border: 1px solid #ddd;
  position: relative;
  z-index: 1
}

.home-project-preview > .screen:hover{
  border: 1px solid #ddd;
  position: relative;
  z-index: 1
}

.screen{
  transform: translateX(13%);
  border: 1px solid #E8E8E8;
    z-index:-1;
}

.mscreen{
  /* transform: translateX(13%); */
  border: 1px solid #E8E8E8;
  position: relative;
  width:42%;
    z-index:1;
}

.home-project-preview.-desktop{
}

.home-project-preview.-desktop > .screen{
  width: 100%;
  transform: translateX(13%);
}

.home-project-preview.-desktop > .screen:hover{
  width: 100%;
  transform: translateX(13%);
}

.home-project-preview.-desktop.-left{
  -webkit-transform: translateX(-13%);
          transform: translateX(-13%)
}

.home-project-preview.-desktop.-right{
  -webkit-transform: translateX(13%);
          transform: translateX(13%)
}

.home-project-preview.-desktop > .frame,
    .home-project-preview.-desktop > .frame-shadow{
  -webkit-transform: translateX(-38%) scale(1.32);
          transform: translateX(-38%) scale(1.32);
  width: 100%;
  top: 13%;
}



/* .home-project-preview.-desktop:hover{
  -webkit-transform: translate(-13%, -5px);
          transform: translate(-13%, -5px);
} */

.home-project-preview.-desktop:hover.-left{
  -webkit-transform: translate(-13%, -5px);
          transform: translate(-13%, -5px);
}

.home-project-preview.-desktop:hover.-right{
  -webkit-transform: translate(13%, -5px);
          transform: translate(13%, -5px);
}

.home-project-preview.-desktop:hover .frame-shadow{
  opacity: 1
}


.home-project-preview.-mobile > .frame,
    .home-project-preview.-mobile > .frame-shadow{
  width: 50%;
  top: -7%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%)
}

.home-project-preview.-mobile > .mscreen{
  width: 42%
}

.home-project-preview.-mobile:hover{
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px)
}

.home-project-preview.-mobile:hover .frame-shadow{
  opacity: 1
}


.home-contacts{
  text-align: center;
  margin-top: 120px
}

.home-contacts > .title-line-container{
  margin: 0 auto 50px;
  width: 90%;
  max-width: 320px;
  /* background-image: linear-gradient(to bottom, #fff 45%, #005EFE 46%, #005EFE 54%, #fff 55%) */
}

.home-contacts > .title-line-container > .title{
  background: #fff;
  text-transform: uppercase;
  display: inline;
  padding: 0 10px
}

.home-contacts-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around
}

.home-contacts-container > .contact{
  margin-bottom: 30px;
  text-transform: uppercase
}

.home-contacts-container > .contact > svg{
  display: block;
  margin-bottom: 16px
}

/***************** contacts icon animation ********************/

.contact:hover{
}

.contact:hover #flag{
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg)
}

.contact:hover #mail{
  -webkit-animation: mail alternate .8s ease-in-out infinite;
          animation: mail alternate .8s ease-in-out infinite
}

.contact:hover #balloon{
  -webkit-animation: floating alternate 1s ease-in-out infinite;
          animation: floating alternate 1s ease-in-out infinite
}

.contact:hover .bubble{
  opacity: 1
}

.contact:hover .dot1{
  -webkit-animation: dot1 1s ease-in-out infinite;
          animation: dot1 1s ease-in-out infinite
}

.contact:hover .dot2{
  -webkit-animation: dot2 1s ease-in-out infinite;
          animation: dot2 1s ease-in-out infinite
}

.contact:hover .dot3{
  -webkit-animation: dot3 1s ease-in-out infinite;
          animation: dot3 1s ease-in-out infinite
}

.contact{
}

.contact #flag{
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform-origin: 9% 117%;
          transform-origin: 9% 117%
}

.contact .bubble{
  transition: opacity .5s ease
}

@-webkit-keyframes mail{
  from { -webkit-transform: translate(18px, 20px); transform: translate(18px, 20px); }
  to   { -webkit-transform: translate(29px, 20px); transform: translate(29px, 20px); }
}

@keyframes mail{
  from { -webkit-transform: translate(18px, 20px); transform: translate(18px, 20px); }
  to   { -webkit-transform: translate(29px, 20px); transform: translate(29px, 20px); }
}

@-webkit-keyframes floating{
  from { -webkit-transform: translate(65px, 25px); transform: translate(65px, 25px); }
  to   { -webkit-transform: translate(75px, 20px); transform: translate(75px, 20px); }
}

@keyframes floating{
  from { -webkit-transform: translate(65px, 25px); transform: translate(65px, 25px); }
  to   { -webkit-transform: translate(75px, 20px); transform: translate(75px, 20px); }
}

@-webkit-keyframes dot1{
  from { opacity: 0; }
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot1{
  from { opacity: 0; }
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes dot2{
  from { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot2{
  from { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes dot3{
  from { opacity: 0; }
  70%  { opacity: 0; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot3{
  from { opacity: 0; }
  70%  { opacity: 0; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

/***************** backgrounds ********************/

.home-project{
}

.home-project.-project-1{
  background-image: url(/assets/_bg/home-bg1.png)
}

.home-project.-project-2{
  background-image: url(/assets/_bg/home-bg2.png)
}

.home-project.-project-3{
  background-image: url(/assets/_bg/home-bg3.png)
}

.home-project.-project-4{
  background-image: url(/assets/_bg/home-bg4.png)
}

.flying-bg{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1
}

.flying-bg > img{
  position: absolute
}

.flying-bg > .shape-1{
  top: 5%;
  left: 43%;
  width: 17%
}

.flying-bg > .shape-2{
  top: 10%;
  left: 80%;
  width: 13%
}

.flying-bg > .shape-3{
  top: 60%;
  left: 46%;
  width: 10%
}

.flying-bg > .shape-4{
  top: 71%;
  left: 74%;
  width: 11%
}

.flying-bg > .shape-5{
  left: 29%;
  top: 16%;
  width: 4%
}

.flying-bg > .shape-6{
  left: 0;
  top: 60%;
  width: 7%
}

.flying-bg > .shape-7{
  top: 80%;
  left: 30%;
  width: 5%
}

.flying-bg > .shape-8{
  left: 95%;
  top: 63%;
  width: 6%
}

.project-cover.-shading{
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 0;
}

.-shading{
  background: #f5faff;
  margin: 3em 0;
  padding: 32px 16px;
  padding: 2rem 1rem
}

.-shading > *{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.two-column{
  font-size: 0;
  margin-top: 32px;
  margin-top: 2rem;
}

.two-column > *{
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  width: 50%;
  padding: 0px;
  padding-bottom:2%;
}

.to-column{
  margin-top: 32px;
  margin-top: 2rem;

}

.to-column > *{
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  width: 45%;
  padding: 0px;
  padding-bottom:2%;
}

@media screen and (max-width: 1100px) {
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #fff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }

  .draw-border {
    box-shadow: inset 0 0 0 0px #fff;
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    opacity: .8;
  }

  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 400 1.2rem 'Archivo', sans-serif;;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    color: #005EFE;
  }

.drawBorder{
  text-align: center;
    padding-bottom: 0%;
    padding-top: 2%;
  }
.drawBorder1{
    margin-top: 1%;
    margin-bottom: 0%;
    float: none;
  }
  .drawBorder2{
    margin-top: 0%;
    margin-bottom: 2%;
   float: none;
  }

@media screen and (max-width: 800px) {

._body-width{
  width: 100%;
  max-width: 1280px;
  padding: 0 60px;
  margin: 0 auto;
}

#moodboard{
margin-left: 0%;
margin-right: 0%;
padding-left: 6%;
padding-right: 10%;
}

#brandaudit{
  margin: 3% 10% 10% 3%;
  padding-left:2%;
  padding-right: 6%;

}

#about{
margin-top:30%;
width: 87%;
height:auto;
}

#introduction{
margin-left:6%;
padding-right:6%;
margin-top:0%;

}

.header{
  margin-top: 23%;
  display: block;
    margin-left: 6%;
    margin-right: auto;
    padding: 0 60px;
    padding: 0 1.5rem;
}

.inVision{
text-align: left;
width: 50%;
height: auto;
}

#caseStudy1 .screenShot{
width: 100%;
height: auto;
float:right;
margin-top:.4em;
margin-left:.02em;
 /* border-radius: 5%; */
shape-outside: margin-box;
}

.column-content{
  overflow-wrap: break-word;
  margin-left:0%;
  margin-right: 2% !important;
}


.unorderedList{
    font-family: 'Archivo', sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.8em;
    width: 100%;
    padding: 2em;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: #222222;
    font-size: 16px;
}

.unorderList{
  font-family: 'Archivo', sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  letter-spacing:.04em;
  line-height: 1.8em;
  margin-left: 5.4%;
}

/* .home-project-content{
margin-top:30%;

} */


.page-banner > .bg{
  text-align: center;
  /* margin-left:-6%; */
  width: 100%;
  max-width: 2000px;
  margin-bottom:15%;
}

p {
    font-family: 'Archivo', sans-serif;
    color: #222222;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    letter-spacing: 0.04em;
    line-height: 1.8em;
    hyphens: none;
    -webkit-font-smoothing: antialiased;
}

.site-footer {
  margin: 0% 8% 5% 5%;
  text-align: center;
}
#mobileContact{
  text-align: center;
  display:block;
  margin-top: 6%;
   padding-bottom: 10%;
  padding-top:40%;
margin-bottom: 0;
text-transform: uppercase;
font-size: 18px ;
font-weight:bolder;
font-family:'Archivo', sans-serif;

}

.icons{
  display: inline-block;
      text-align: center;
        margin: 4% 10% 0 10%;
}
.icon{
  margin: 0 5% 0 5%;
  display: inline-block;
  width: 7%;
    max-width: 100%;
    text-align: center;
}

#ft{
text-align: center;
margin-bottom: 5%;
font-weight: 300;
letter-spacing: 0.002em;
font-size:12px;
margin-left:2.3%;
}

#email{
margin-top: 3%;
margin-bottom: 2%;
margin-left: 3.3%;
text-align: center;
font-weight: 300;
letter-spacing: 0.02em;
font-size:12px;
}

.site-footer > p{
    margin: 0% 8% 0% 5%;
  text-align: center;
  font-size: 14px ;
}

.home-contacts-container, .home-contacts > .title-line-container > .title, .home-contacts-container > .contact, .home-contacts-container > .contact > svg{
display: none;
}

.home-project > div{
  margin-top: 19%;
  -webkit-box-flex: 1;
          flex: 1 1 50%;
  width: 40%;
  padding: 38px 20px 0px 20px;
}

/* #copyRight{
  font-family: 'Archivo', sans-serif;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    letter-spacing: 0.04em;
    line-height: 2em;
    hyphens: auto;
    -webkit-font-smoothing: antialiased;
} */

._gilroy-title{
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.home-project-preview.-mobile, .home-project-preview.-mobile:hover{
display: none;
}

.project1 {
  z-index: -2;
  display: block;
  position: absolute;
  transform:translateX(0%);
  /* top:5%; */
}

.project2 {
  margin-top:9%;
  /* padding-top:10% */
  z-index: -3;
  display: block;
  position: absolute;
  /* transform:translateX(20%); */

}

.project3 {
 margin-top:-9%;
  z-index: -2;
  display: block;
  position: absolute;
  transform:translateX(0%);
  /* margin-bottom: 10%; */
}
.project4 {
  z-index: -2;
  display: block;
  position: absolute;
  transform:translateX(0%);
  /* top:5%; */
}
.project5 {
  z-index: -3;
  display: block;
  position: absolute;
  transform:translateX(0%);
  /* top:5%; */
}

#projectText{
margin-top:16% !important;
padding-top:30%;
}
#projectText2{
margin-top:15% ;
padding-top:1%;
}

#labtopText{
display: none;
}

#mobileTextW{
  font-family: 'Archivo', sans-serif;
  margin: 0;
  font-size: 15px;
  color: white;
  margin-left:18%;
  width:77%;
  font-weight: 400;
  line-height: 1.4em;
  /* font-weight: 300; */
  display: block;
word-wrap: break-word;
margin-top:2%;
}


#mobileTextB{
  font-family: 'Archivo', sans-serif;
  margin: 0;
  font-size: 14px;
  color: #222;
  margin-left:18%;
  width:85%;
  font-weight: 400;
  display: block;
word-wrap: break-word;
margin-top:2%;
}

#categoryTitle{
  font-family: 'Archivo', sans-serif;
  display:block;
  margin-left:18%;
  text-transform:  uppercase;
  font-weight:400;
  color: #959595;
  font-size: 12px;
}

#categoryTitle3{
  font-family: 'Archivo', sans-serif;
  display:block;
  margin-left:18%;
  text-transform:  uppercase;
  font-weight:400;
  color: #005EFE;
  font-size: 12px;
}

#categoryTitle5{
  font-family: 'Archivo', sans-serif;
  display:block;
  margin-left:18%;
  text-transform:  uppercase;
  font-weight:400;
  color: #E65E03;
  font-size: 12px;
}

a._primary-link{
display: none;
}


/*# sourceMappingURL=nav.css.map */
.mobileBurger{
display: inline;
}

.home-project-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display:  inline;
  margin-top: 1em;
}


body {
  /* background: #020304; */
}
body h6 {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
}
body h6 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
}
body input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}



.home-project-preview.-desktop > .frame, .home-project-preview.-desktop > .frame-shadow{
  /* transform: translateX(-55%) scale(1.32); */
  display: none;
  width: 100%;
  top: 0%;
  z-index: -1;
}

.home-project-preview.-desktop > .frame,
    .home-project-preview.-desktop > .frame-shadow{
        display: none;
  -webkit-transform: translateX(-38%) scale(1.32);
          transform: translateX(-14%) scale(1.32);
  width: 70%;
  top: 9%;
  z-index:-1;
}


.screen {
    display: none;
    transform: translateX(41%);
    border: 1px solid #E8E8E8;
    z-index: -1;
      width: 70%;
}

.home-project-preview > .screen{
    display: none;
  border: 1px solid #ddd;
  position: relative;
  z-index: 1
}


.home-intro{
  margin-top:20%;
  padding: 5rem 0% 0% 6%;
  position: relative;

}
.intro{
    padding: 130px 0% 45% 14%;
}

.typeContainer {
  	/* height: 100px; */
    /* text-align: center; */
    /* color:#005EFE; */
    margin-left:0%;
  	margin-bottom: 32px;
    font-size: 12px!important;
    letter-spacing: .04rem !important;
    margin-left:2%;
  }

  .mobiledescription{
    /* text-align: center; */
    font-family: 'Archivo', sans-serif;
    display:block;
    margin-left:2%;
    font-size: 14px;
    font-weight:400;
    line-height: 23px;
    letter-spacing: .009rem;
    color:#696969;
  }



.home-project-preview.-desktop > .screen {
    width: 100%;
transform: translateX(0%) translateY(-10%);
}


.home-project-preview.-desktop > .screen:hover {
    width: 100%;
transform: translateX(0%) translateY(-10%);
}

.flying-bg{
transform: translateX(-37%) scale(.93);
display: block;
/* position: absolute; */
top: 10%;
bottom: 0;
height:90%;
width: 150%;
/* left: 10%; */
/* right: 0%; */
z-index: -1;
}


.mobileTitle{
  display:block;
  font-family: 'Karla', sans-serif;
  letter-spacing:0.009em;
  font-size: 1em;
  line-height: 1.1;
  text-align:center;
      color: #005EFE
}


.description{
display:none;
}




.home-project{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  /* padding-top: 2em; */
  /* top: 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
     flex: 0 0 100%;
}

.home-project-content .title{
display:block;
margin-left:18%;
font-size: 18px;
letter-spacing: 0.06em;
line-height: 1.4em;
width:60%;
font-family: 'Archivo', sans-serif;
}

#whiteTitle{
color:white

}

#PL{
display:none;

}

._primary-link{
display:block;
text-align:center;
display: inline-block;
position: relative;
z-index: 1;
margin: 0 0 2% 15%;
color: #005EFE;
font-weight: 300;
letter-spacing: 0.03em;
text-transform: capitalize;
font-size: 13px;
}


.resume{
display:block;
text-align:center;
display: inline-block;
position: relative;
z-index: 1;
margin: 0 0 2% 0%;
color: #005EFE;
font-weight: 300;
letter-spacing: 0.03em;
text-transform: capitalize;
font-size: 13px;
}




.home-project-content > .type{
margin-top: 1%;
display:block;
margin-left:18%;
text-transform:  uppercase;
font-weight:400;
color: #844084;
font-size: 12px;
/* letter-spacing: 0.06em; */

}

.text{
display:block;
}


.page-banner{
        text-align: center;
        position: relative;
        padding: 0px 0px 0px 0px;
    }

    .projectDescription{
      font-size: 1.1em;
      font-weight: 400;
      margin:0% 0% 0% 0%;
      color: #bababa;
      font-weight:lighter;
      font-stretch: semi-expanded;
    }

    .projectName{
      padding-top: 5%;
      margin-top: 5%;
      font-size: 1.8em;
      font-weight: 400;
      margin: 18% 0% 0% 0%;
      color:#222222;
      font-weight:bold;
      font-stretch: semi-expanded;
      line-height:1em;
    }

      img[src="../assets/credible_cosigner/xinno1.png"]{
      display: block;
      margin-left: 0px ;
      width: 100%;
    }



    img[src="../assets/credible_cosigner/colorPalette.png"]{
      display: block;
      margin-right: 10% ;
      width: 100%;
    }

    img[src="../assets/credible_cosigner/signatureboard.png"]{
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    img[src="../assets/credible_cosigner/namebadges.png"]{
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 5%;
    }

    img[src="../assets/credible_cosigner/led1.png"]{
      width: 100%;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 5%;
    }

    img[src="../assets/credible_cosigner/led2.png"]{
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 5%;
    }


.two-column > * {
    display: block;
    width: auto;
  }

.to-column > * {
      display: block;
      width: auto;
    }

.-content-width{
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 1.5rem;
}

.three-column{
  font-size: 0;
  margin-top: 32px;
  margin-top: 2rem
}

.three-column > *{
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  width: 33%;
  padding: 20px;
}

.four-column{
  font-size: 0;
  margin-top: 32px;
  margin-top: 2rem
}

.four-column > *{
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  width: 25%;
  padding: 20px;
}

.-vert-center > div{
  vertical-align: middle;
}

/******************** font **************************/

.section-title{
  font-family: 'Archivo', sans-serif;
  font-size: 1.5rem;
  color: #222;
  text-align: left;
  letter-spacing: .02em;
  margin: 2em .5em .8em 0em;
  text-transform: capitalize;
}


.section-title > p{
  color: #222;
  font-size:2rem;
  font-weight: bolder;
  /* opacity: .25; */
}




.sub-section-title{
  font-family: 'Archivo', sans-serif;
  font-size: 20.8px;
  font-size: 1.3rem;
  color: #222;
  letter-spacing: .06em;
  text-transform: uppercase;
  position: relative;
  margin: 3.5em 0 .8em 0;
  letter-spacing: .1em
}

.sub-section-title > span{
  position: absolute;
  bottom: -.3em;
  font-size: 64px;
  font-size: 4rem;
  color: #005EFE;
  opacity: .1;
}

.item-title{
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #555;
  margin: 1.8em 0 4.8px;
  margin: 1.8em 0 .3rem;
}

.quote{
  color: #005EFE;
  font-size: 25.6px;
  font-size: 1.6rem;
  margin: 1.5em 3em;
  font-style: italic;
  opacity: .4;
}
/* Buttons */
.projectContainer{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
}

.projectContainer:hover {
    width: 300px;
}

/******************** project footer **************************/

.footer-nav{
  margin: 0 auto
}

.footer-nav > a{}

.footer-nav > a:first-child{
  text-align: justify;
}

.footer-nav > a:last-child{
  text-align: right;
}

.footer-nav > a:hover{
  background: #fafafa;
}

.footer-nav > a > .arrow{
  font-size: 14px;
  text-transform: uppercase;
}

.footer-nav > a > .name{
  font-size: 20px;
  font-weight: 400;
}

/******************** mobile video (in base) **************************/

.-smaller-video{
  max-height: 500px;
}

/******************** step video (in co-signer) **************************/

.-steps{
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto
}

.-steps > .screen{
  -webkit-box-flex: 1;
          flex: 1 1 60%;
  position: relative;
}

.-steps > .screen > .laptop{
  width: 100%;
}

.-steps > .screen > video{
  display: none;
  position: absolute;
  width: 68.5%;
  left: 50%;
  top: 63px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.-steps > .screen > video.-active{
  display: block;
}

.-steps > .buttons{
  -webkit-box-flex: 1;
          flex: 1 1 40%;
}

.step-button{
  cursor: pointer;
  position: relative
}

.step-button > span{
  font-family: 'Archivo', sans-serif;
  position: absolute;
  color: #d8d8d8;
  font-size: 20.8px;
  font-size: 1.3rem;
}

.step-button > h3{
  font-family: 'Archivo', sans-serif;

  color: #222222;
  font-size: 19.2px;
  font-size: 1.2rem;
  letter-spacing: .06em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-left: 1.5em;
  margin-top: .8em;
}

.step-button > p{
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: max-height .5s ease;
}

.step-button.-active{}

.step-button.-active > span{
  top: -.75em;
  font-size: 64px;
  font-size: 4rem;
  color: #005EFE;
  opacity: .1;
}

.step-button.-active > h3{
  color: #005EFE;
  margin-left: 0;
  margin-top: 2em;
}

.step-button.-active > p{
  max-height: 100px;
  transition: max-height .5s ease;
}

.-smaller{
  width: 100%;
}

body,
.site-header{
  min-width: 300px;
  overflow-x: hidden;
}
@media screen and (max-width: 300px){
  body{
    overflow: auto;
  }
.-content-width{
        padding: 0 1.5rem;

  }
}

@media screen and (max-width: 1300px){
  .col-lg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  }

  .row {
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }
}

@media screen and (max-width: 800px){
  /**************** header *****************/
  .site-header{
display:none;  }

  /* .site-header.-collapse > .container{
    padding: 12px 0px 12px 12px;
  } */
  .site-nav > .item{
    margin: 0 8px;
    letter-spacing: .01em;
  }
  .logo-link{
    width: 36px;
  }

  ._body-width{
    padding: 0 0px;
  }

  img[src="../assets/credible_cosigner/xinno1.png"]{
    display: block;
    margin-left: 0px ;
    width: 100%;
  }

  /**************** home *****************/
  .home-project{
    display: block
  }
  .home-project > div{
    width: 100%;
  }
  .home-project-content{
    -webkit-box-ordinal-group: 1 !important;
            order: 0 !important;
  }
  .home-project-preview.-mobile,
  .home-project-preview.-mobile:hover{
    -webkit-transform: none !important;
            transform: none !important;
  }
  .home-project-preview.-desktop,
  .home-project-preview.-desktop:hover{
    /* -webkit-transform: scale(1) !important;
            transform: scale(1) !important; */
  }

  .home-contacts-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
            display:block;
  }
  .contact{
  }
  .contact #flag{
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .contact #mail{
    -webkit-animation: mail alternate .8s ease-in-out infinite;
            animation: mail alternate .8s ease-in-out infinite;
  }
  .contact #balloon{
    -webkit-animation: floating alternate 1s ease-in-out infinite;
            animation: floating alternate 1s ease-in-out infinite;
  }
  .contact .bubble{
    opacity: 1;
  }
  .contact .dot1{
    -webkit-animation: dot1 1s ease-in-out infinite;
            animation: dot1 1s ease-in-out infinite;
  }
  .contact .dot2{
    -webkit-animation: dot2 1s ease-in-out infinite;
            animation: dot2 1s ease-in-out infinite;
  }
  .contact .dot3{
    -webkit-animation: dot3 1s ease-in-out infinite;
            animation: dot3 1s ease-in-out infinite;
  }
}
@media screen and (max-width: 360px){
  .site-nav{
    text-align: right;
  }
  .site-nav > .item{
    display: block;
    margin: 6px 8px;
  }
}
/**************** side work - prototypes *****************/
@media screen and (max-width: 1000px){
  .side-container.-prototype{
    display: block;
  }

  .side-prototype.-mobile > video{
    width: 100%;
    max-width: 300px;
  }
}
.side-section{
    position: relative;
    margin-bottom: 120px
}

.side-section:before{
    content: '';
    display: block;
    margin: 30px auto;
    width: 2px;
    height: 60px;
    background: #005EFE
}

.side-section > .title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 40px;
    letter-spacing: .06em;
}

.side-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.side-container.-column-3{
}

.side-container.-column-3 > .side-project{
    -webkit-box-flex: 1;
            flex: 1 0 30%
}

.side-container.-column-2{
}

.side-container.-column-2 > .side-project{
    -webkit-box-flex: 1;
            flex: 1 0 45%
}

.side-project{
    text-align: center;
    margin: 1%
}

.side-project > img{
    cursor: pointer
}

.side-prototype{
    position: relative;
    background: #F5FAFF;
    padding: 60px 40px 0;
    margin: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end
}

.side-prototype.-desktop{
    -webkit-box-flex: 1;
            flex: 1 0 calc(70% - 40px)
}

.side-prototype.-mobile{
    -webkit-box-flex: 1;
            flex: 1 0 calc(30% - 40px)
}

.side-prototype > video{
    margin: 0 auto
}

.side-prototype > .mask{
    opacity: 0;
    transition: opacity .5s ease;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer
}

.side-prototype > .mask > .info{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: capitalize;
    color: #fff;
    font-size: .8em
}

.side-prototype > .mask > .info > .title{
    font-size: 1.2em;
    font-weight: normal
}

.side-prototype:hover > .mask{
    opacity: 1
}

.side-beyond{
    box-shadow: 0 0 10px #ddd;
    padding: 16px;
    -webkit-box-flex: 1;
            flex: 1 0 calc(50% - 40px);
    text-align: center;
    margin: 1%
}

.side-beyond > .img{
    width: 100%
}

.side-beyond > .title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: .8em 0 .3em;
    letter-spacing: 3px
}

.side-beyond > .description{
    font-size: .8em;
    margin: 0 1em
}

.side-beyond > .link{
    display: block;
    text-transform: capitalize;
    color: #005EFE;
    font-size: 1em;
    font-weight: 500;
    margin-top: 1em
}

.side-container.-icons{
}

.side-container.-icons > .side-project > img{
    max-width: 160px
}

.side-container.-illustrations{
}

.side-container.-illustrations > .side-project > img{
    max-width: 350px
}

.side-bg{
    position: absolute;
    z-index: -1
}

.side-bg.-section-1{
    right: -8%;
    top: 3%
}

.side-bg.-section-2{
    left: -10%;
    top: 3%
}

.side-bg.-section-3{
    right: -8%;
    top: 3%
}

.side-bg.-section-4{
    left: -8%;
    top: 3%
}

.side-bg.-section-5{
    left: -12%;
    top: 80%
}

.side-bg.-section-6{
    right: -10%;
    bottom: -3%
}

._primary-link:before{
  text-align:center;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 8px 0;
  color: #005EFE;
  font-weight: bolder;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-size: 1.2em;
}

.resume:before{
  text-align:center;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 8px 0;
  color: #005EFE;
  font-weight: bolder;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-size: 1.2em;
}


/*# sourceMappingURL=styles.css.map */
